/build/
/target/
/release/
/nbproject/private/
/src/main/resources/static/dist/
/src/main/resources/static/typings/
/src/main/resources/static/node_modules/
/src/main/resources/static/node/
/src/main/resources/static/app/*.js
/src/main/resources/static/app/*.map
/src/main/resources/static/app/**/*.js
/src/main/resources/static/app/**/*.map
/node/
npm-debug.log
.settings/
.project
.classpath
.settingscd
.tmp
.jsfdiag
*.bak
*.ear
*.war
*.class
*.classpath
*.vscode/settings.json