<p-growl [value]="msgs" [life]="5000"></p-growl>

<h1>Create New Product Template</h1>

<form class="form-horizontal" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label class="control-label col-sm-2" for="name">Name:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" [(ngModel)]="productTemplate.name" placeholder="ACME Corporation" name="name" required>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="code">Code:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" [(ngModel)]="productTemplate.code" placeholder="ACMECORP" name="code" required>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="templateType">Product Template Type:</label>
		<div class="col-sm-10">
			<select [(ngModel)]="productTemplate.productTemplateType" name="templateType" class="form-control">
                <option *ngFor="let item of productTypes" [ngValue]="item">{{item}}</option>
			</select>
		</div>
	</div>

    <div class="col-sm-12">
        <hr />
        <h3>Product Attributes</h3>
    </div>

    <p-dataTable [value]="productTemplateAttributeList" selectionMode="single" [(selection)]="selectedProductTemplateAttribute"
        (onRowSelect)="onRowSelect($event)"  [responsive]="true">

        <p-column field="productAttribute.name" header="Name"></p-column>
        <p-column field="productAttribute.description" header="Description"></p-column>
        <p-column field="quotationMandatory" header="Mandatory?">
                <template let-col let-ruleRow="rowData" pTemplate type="body">
                    {{ruleRow[col.field] ? 'Yes' : 'No'}}
            </template>
            </p-column>

        <footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
            </div>
        </footer>
    </p-dataTable>

    <form (ngSubmit)="save()">
        <p-dialog header="Product Attribute" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="450">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="productTemplateAttribute">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label>Product Attribute</label></div>
                    <div class="ui-grid-col-8">
                        <select [(ngModel)]="selectedProductAttributeId" name="productAttribute" class="form-control">
                            <option *ngFor="let item of productAttributes" [ngValue]="item.id">{{item.description}}</option>
                        </select>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label>Mandatory?</label></div>
                    <div class="ui-grid-col-8">
                        <input type="checkbox" [(ngModel)]="productTemplateAttribute.quotationMandatory" name="productTemplateAttributeMandatory" class="form-control"/>
                    </div>
                </div>
            </div>
            <footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                    <button type="submit" pButton icon="fa-check" label="Save"></button>
                </div>
            </footer>
        </p-dialog>
    </form>
<br/>
	<div class="form-group">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary" label="Save">Save</button>
			<a routerLink="/productTemplate-list" class="btn btn-primary" routerLinkActive="active" routerLinkActive="isActiveLink">Back</a>
		</div>
	</div>
</form>