<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
	  <meta charset="utf-8"></meta>
	  <title>Angular 2 + Spring</title>
	  <base href="/angular2-spring"></base>
	
	  <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"></link>
	  
	  <link th:href="@{/node_modules/primeng/resources/themes/omega/theme.css}" rel="stylesheet"></link>
	  <link th:href="@{/node_modules/primeng/resources/primeng.min.css}" rel="stylesheet"></link>
	  <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"></link>
	  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	  <link rel="icon" type="image/x-icon" href="favicon.ico"></link>
	</head>
	<body>
		<my-app>
			<i class="fa fa-spinner fa-pulse fa-3x fa-fw center-block" style="font-size: 100px; display: block;"></i>
			<span class="sr-only">Loading...</span>
		</my-app>
		<script sec:authorize="!hasAuthority('DEV')" type="text/javascript" th:src="@{/dist/inline.js}"></script>
		<script sec:authorize="!hasAuthority('DEV')" type="text/javascript" th:src="@{/dist/main.bundle.js}"></script>
		<script sec:authorize="!hasAuthority('DEV')" type="text/javascript" th:src="@{/dist/styles.bundle.js}"></script>
		
		<script sec:authorize="hasAuthority('DEV')" type="text/javascript" src="http://localhost:4200/inline.js"></script>
		<script sec:authorize="hasAuthority('DEV')" type="text/javascript" src="http://localhost:4200/main.bundle.js"></script>
		<script sec:authorize="hasAuthority('DEV')" type="text/javascript" src="http://localhost:4200/styles.bundle.js"></script>
		
		<script type="text/javascript" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	</body>
</html>